###############################################################################
# Set default behavior to automatically normalize line endings
###############################################################################
* text=auto

###############################################################################
# Set fle type specific behavior
###############################################################################
*.sh                text    eol=lf
.husky/pre-commit   text    eol=lf
